{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Index</h1>
  <p class="important">
    <form action="/predict" method="POST">
        <!-- Gender Field -->
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="0">Male</option>
            <option value="1">Female</option>
        </select><br><br>

        <!-- Age Field -->
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br><br>

        <!-- Submit Button -->
        <button type="submit">Submit</button>
    </form>
    Welcome to my awesome homepage.
{% endblock %}


   
